.accordion-button,
.accordion-item {
  background: transparent;
  border-right: none;
  border-left: none;
  border-top: none;
}
.accordion-button:not(.collapsed) {
  background: transparent;
  box-shadow: none;
  color: black;
  font-weight: bolder;
}
.accordion-header {
  border: none;
}
.show-button{
  width: 200px;
  height: 40px;
}
.exit-button {
  font-weight: bolder;
  border: #ee9d9d;
  width: 15%;
  height: 40px;
}
.multi-range-slider .bar-inner{
  background-color: #ee9d9d !important;
}

.multi-range-slider{
  border: none;
  box-shadow: none;
}
