body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9e9e9;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.text-primary{
  color: #ee9d9d !important;
}
.bg-primary{
  background-color: #f87470 !important;
}
.bg-light-primary{
  background-color: #f6e0e2;
}   